:root {
  // Colors
  // Base Colors
  --white-color: #FFFFFF;
  --very-light-grayish-blue-color: hsl(240, 78%, 98%);
  --light-grayish-blue-color: hsl(234, 14%, 74%);
  --grayish-blue-color: hsl(233, 13%, 49%);
  --dark-grayish-blue-color: hsl(232, 13%, 33%);

  // Primary Colors
  --primary-color: hsla(237, 63%, 65%);
  --primary-gradient-color: linear-gradient(140deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

  // Neutral Color
  --neutral-color: var(--grayish-blue-color);

  --background-color: var(--very-light-grayish-blue-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--neutral-color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
