@import "styles/utils";

.pricingSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 71px;

  @include media(">desktop") {
    padding-top: 71px;
    min-height: 850px;
    height: 100vh;
  }

  &::before {
    position: absolute;
    top: -139px;
    right: -293px;
    width: 472px;
    height: 760px;
    background: url("/img/bg-top.svg") no-repeat;
    background-size: contain;
    content: "";

    @include media(">desktop") {
      top: -103px;
      right: -98px;
    }
  }

  &::after {
    position: absolute;
    bottom: -457px;
    left: -120px;
    width: 472px;
    height: 760px;
    background: url("/img/bg-bottom.svg") no-repeat;
    background-size: contain;
    content: "";
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 40px;
  }

  .monthlyToggleButton {
    margin-bottom: 80px;

    @include media(">desktop") {
      margin-bottom: 64px;
    }
  }

  .planCardContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media(">desktop") {
      flex-direction: row;
      align-items: center;
      gap: 0;

      & > article:nth-child(1) {
        border-radius: 10px 0 0 10px;
      }

      & > article:nth-child(3) {
        border-radius: 0 10px 10px 0;
      }
    }

    & > article:nth-child(2) {
      background: var(--primary-gradient-color);

      @include media(">desktop") {
        padding-top: 55px;
        padding-bottom: 55px;
      }

      & > * {
        color: var(--white-color);
      }

      a {
        color: var(--primary-color);
        background: var(--white-color);

        @include media(">desktop") {
          &:hover {
            color: var(--white-color);
            background: transparent;
            outline: 1px solid var(--white-color);
          }
        }
      }
    }
  }
}
